<div class="cookie_banner" id="cookie_banner">
    <div>
        <span class = 'highlight'><strong>What would a data scientist be without data?</strong></span><br>
        Do you allow me to collect anonymous data on your visit to jill.codes?<br>
        <button class='accept_cookies' onclick="gaOptin()">Ok, sure!</button>
        <button class='reject_cookies' onclick="gaOptout()">No, thanks.</button>
        <a href='/about.html#privacystatement' class='privacy_info_link'>More Info</a>
    </div>
</div>
