<footer id="footer" class="container-fluid px-0 justify-content-center bg-body d-flex flex-wrap my-4 sticky-top sticky-xxl-bottom">
<div class="container row px-0 d-flex flex-wrap justify-content-between align-items-center py-3 border-top text-body-secondary">

    <p class="col mb-0 justify-content-start">&copy; 2024 Jillian Augustine</p>

    <a href="/"
        class="col d-flex align-items-center justify-content-center font-monospace mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-3 text-body-tertiary px-3">j
    </a>

    <p class="nav col mb-0 justify-content-end">
        {% assign about_item = site.data.navigation.main_navigation | where: "name", "About" | first %}
        <span class="nav-item">
            <a class="nav-link" href="{{ about_item.link }}">
                {{ about_item.name }}
            </a>
        </span>
    </p>
</div>
</footer>