<!-- Hamburger menu for navbar on right for mobile?  -->
<header class="row d-flex flex-wrap text-bg-dark justify-content-between py-3 mb-4 border-bottom sticky-md-top">
  <p class="col-md-4 mb-3 mb-md-0 me-md-auto lh-sm font-monospace">
  <a href="/" class="row text-start text-decoration-none">
    <span class="fs-1 text-body-tertiary">{{ site.title }}</span>
  </a>
  <span class="small text-body-secondary float-start">all things data</span>
</p>
  <ul class="d-flex col-auto nav nav-pills ms-md-auto align-items-center" id="navbar-header">
        {% for item in site.data.navigation.main_navigation %}
          {% if item.name == "About" %}
            {% continue %}
          {% endif %}
          {% if page.url==item.link or page.url=="/index" and item.link=="/" %}
            {% assign active_page = "active" %}
            {% assign aria_current = "page" %}
          {% else %}
           {% assign active_page = "" %}
           {% assign aria_current = "false" %}
          {% endif %}

          {% if item.sections %}
            {% include body/header/nav_dropdown.html%}
          {% else %}
            {% include body/header/nav_no_dropdown.html%}
          {% endif%}
        {% endfor %}
  </ul>
</header>
