
<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto navbar-brand text-decoration-none">
    <tt class="fs-1 text-body-tertiary px-3">{{ site.title }}</tt>
  </a>
  <ul class="nav nav-pills ms-md-auto align-items-center">
        {% for item in site.data.navigation %}
        {% unless item.name == "About" %}
        <li class="nav-item">
          <!-- operators (or, and) evaluated from right to left -->
          <a {% if page.url==item.link or page.url=="/index" and item.link=="/" %} class="nav-link active text-decoration-none"
            aria-current="page" href="{{ item.link }}" {% else %} class="nav-link text-decoration-none" aria-current="false"
            href="{{ item.link }}" {% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endunless %}
        {% endfor %}
  </ul>
</header>
