#footer {
    z-index: 1000;
}

.nav-anchor {
    scroll-margin-top: 9.5rem
    // 141.31 on mobile
}

a {
    text-decoration: none !important;
}

@media (min-width: 768px) {
    // --bs-breakpoint-md: 768px
    .nav-anchor {
        scroll-margin-top: 6.5rem
        // 98.09 on desktop
    }
}

.oxygen-mono-regular {
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.catamaran-regular {
  font-family: "Catamaran", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}