#footer {
    z-index: 1000;
}

.nav-anchor {
    scroll-margin-top: 9.5rem
    // 141.31 on mobile
}

@media (min-width: 768px) {
    // --bs-breakpoint-md: 768px
    .nav-anchor {
        scroll-margin-top: 6.5rem
        // 98.09 on desktop
    }
}
